<!--
 Copyright (C) 2014 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="codelab.gdg.watchfacehack" >

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- 커스텀 Watch Face가 동작하기 위해 필수적으로 필요한 퍼미션. -->
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >

        <!-- Service 이름은 Java 파일의 이름과 같아야 함(중요!) -->
        <service
            android:name=".AnalogWatchFaceService"
            android:label="@string/analog_name"
            android:permission="android.permission.BIND_WALLPAPER" >
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <!-- 기본 웨어(사각)를 위한 미리보기 -->
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview_analog" />
            <!-- 원형 웨어를 위한 미리보기 -->
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview_analog_circular" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <!--
             단, 한개의 웨어러블 앱은 여러개의 Watch Face를 소유할 수 있다.
             따라서 여러 Watch Face를 가진 웨어러블 앱을 만드려면 여러개의 Service를 생성하면 된다.
        -->
    </application>

</manifest>
